---
import { ClientRouter } from 'astro:transitions'

import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro Basics</title>

    <ClientRouter />
  </head>
  <body>
    <div class="container mx-auto mt-5">
      <slot />
    </div>
  </body>
</html>

<style>
  html {
    font-family: system-ui, sans-serif;
    background-color: #13151a;
    color: #fff;
    overflow: hidden;
  }
</style>
